.SecOne {
    background-color: #0E0E0E;
}

.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 282px;
    height: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s linear;
}
.box:hover{
    background: var(--red2, #C53720);
    border-radius: 50px 15px;
    opacity: 0.8;
}
.son {
    width: 220px;
    text-align: center;
}
.pic {
    margin-bottom: 30px;
}
.text {
    color: #FFF;
    font-family: Geometria;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}